/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4,
p, blockquote, pre, ul, ol {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 400;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre, ul, ol,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}
h1 {
    margin-bottom: ($spacing-unit / $h1-font-size / 2) * 1em;
}
h2 {
    margin-bottom: ($spacing-unit / $h2-font-size / 2) * 1em;
}
h3 {
    margin-bottom: ($spacing-unit / $h3-font-size / 2) * 1em;
}
h4 {
    margin-bottom: ($spacing-unit / $h4-font-size / 2) * 1em;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4 {
    color: $heading-color;
    font-weight: 400;
}
h1 {
    font-size: $h1-font-size;
}
h2 {
    font-size: $h2-font-size;
}
h3 {
    font-size: $h3-font-size;
}
h4 {
    font-size: $h4-font-size;
}



/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: darken($link-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    border-left: .4em solid $theme-color;
    padding-left: $spacing-unit / 2;
    font-size: 1.2em;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    border: .1em solid lighten($theme-color, 30%);
    border-radius: .25em;
    background-color: $code-color;
    font-family: $code-font-family;
}

code {
    padding: .1em .5em;
}

pre {
    padding: .6em 1em;
    overflow-x: scroll;

    > code {
        border: 0;
        padding: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: 45em;
    margin: 0 auto;
    padding: 0 $spacing-unit;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
